*{
	margin: 0;
	font-family: "Cabin", sans-serif;
	font-size: 20px;
}

body, html{
	padding-top: 35px;
}

.menu-icon{
	cursor: pointer;
	margin-right: 10px;
}

a{
	color: black;
	text-decoration: none;
}

.active{
	color: white;
}

.top-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #ce3a60;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	padding: 10px 15px;
}

.side-nav{
	line-height: 2;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	position: fixed;
	top: 43px;
	left: 0;
	bottom: 0;
	background-color: #c87484;
	width: 0;
	display: none;
}

.close-nav{
	position: absolute;
	top: 50%;
	right: -20px;
}

.fa-angle-left{
	font-size: 30px;
	color: white;
	background-color: #dd3d38;
	padding: 10px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
}

.profile-side-nav{
	position: absolute;
	bottom: 20px;
}

.top-nav p{
	display: inline-block;
}

.category-head{
	font-weight: bold;
	font-size: 30px;
	color: #ce3a60;
	margin-left: 50px;
	margin-bottom: 20px;
}

/*.category-width-layout{
	display: flex;
	justify-content: ;
}*/

.category-section-container-head{
	display: flex;
	justify-content: center;
}


.category-section-container{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	column-gap: 10px;
	row-gap: 20px;
	padding: 10px;
	justify-content: space-evenly;
}

.category-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ce3a60;
	padding: 10px;
	width: 200px;
	height: auto;
}

.category-img img{
	width: 200px;
}

.go-to-btn{
	color: white;
	background-color: #ce3a60;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.info-box-container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	position: absolute;
	top: 75px;
	left: 50px;
	right: 50px;
	height: auto;
	min-height: 80%;
	background-color: white;
	opacity: 0;
	z-index: -100;
	padding: 15px 10px;
	box-shadow: 5px 5px 10px #f0f1f3;
	border: 1px solid #ce3a60;
	margin-bottom: 50px;
}

.message-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 50px;
}

.filterCategory{
	background-color: #de7083;
	height: auto;
	width: 230px;
	border-radius: 10px;
}

.category-img1 img{
	width: 180px;
}

.category-title{
	margin-top: 30px;
	background-color: #ce3a60;
	color: black;
	font-weight: bold;
	font-size: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: -14px;
    right: -14px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

.fa-circle-xmark{
	font-size: 35px;
}

.search-bar-container{
	display: flex;
	justify-content: center;
/*	column-gap: 20px;*/
	align-items: center;
	margin-bottom: 30px;
}

.search-bar{
	font-size: 18px;
	font-family: "Cabin", sans-serif;
	padding: 6px 10px;	
	border: 1px solid #ce3a60;
	border-right: none;
}

.search-bar{
	outline: none;
}

.search-btn{
	border: 1px solid #ce3a60;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #ce3a60;
	color: white;
}
.search-btn i{
	font-size: 18px;
}


@media (max-width: 1170px){
	.category-section-container{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.message-container{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 930px){
	.category-section-container{
		grid-template-columns: 1fr 1fr 1fr;
	}

	.message-container{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 700px){
	.category-section-container{
		grid-template-columns: 1fr 1fr;
	}

	.message-container{
		grid-template-columns: 1fr;
	}

	.filterCategory{
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 470px){
	.category-section-container{
		grid-template-columns: 1fr;
	}

	.category-img img{
		width: 280px;
	}

	.category-block{
		width: 300px;
		height: 300px;
	}

	.filtercategory{
		width: 250px;
		height: 250px;
	}
}

@media (max-width: 450px){
	.category-img1 img{
		width: 150px;
		height: 150px;
	}

	.filterCategory{
		width: 200px;
		height: 200px;
	}

	.middle-section-nav div{
		display: none;
	}

}
