*{
	margin: 0;
	font-family: "Cabin", sans-serif;
	font-size: 20px;
}

body, html{
	padding-top: 35px;
}

.menu-icon{
	cursor: pointer;
	margin-right: 10px;
}

a{
	color: black;
	text-decoration: none;
}

.active{
	color: white;
}

.top-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #ce3a60;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	padding: 10px 15px;
}

.side-nav{
	line-height: 2;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: top;
	position: fixed;
	top: 43px;
	left: 0;
	bottom: 0;
	background-color: #c87484;
	width: 0;
	display: none;
}

.close-nav{
	position: absolute;
	top: 50%;
	right: -20px;
}

.fa-angle-left{
	font-size: 30px;
	color: white;
	background-color: #dd3d38;
	padding: 10px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
}

.profile-side-nav{
	position: absolute;
	bottom: 20px;
}

.top-nav p{
	display: inline-block;
}


.category-head{
	font-weight: bold;
	font-size: 30px;
	color: #ce3a60;
	margin-left: 50px;
	margin-bottom: 20px;
}

/*.category-width-layout{
	display: flex;
	justify-content: ;
}*/

.category-section-container-head{
	display: flex;
	justify-content: start;
}


.category-section-container{
	display: grid;
	grid-template-columns: 340px 1fr;
	column-gap: 10px;
	row-gap: 20px;
	padding: 10px;
	justify-content: center;
}

.category-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	border: 1px solid #ce3a60;
	padding: 10px;
	width: 300px;
	height: auto;
	max-height: 300px;
}

.ingredients{
	margin-top: 20px;
	border: 1px solid #ce3a60;
	padding: 10px;
	width: 280px;
	height: auto;
	padding-left: 30px;
}

.category-img img{
	width: 200px;
	height: auto;
	max-height: 500px;
}

.go-to-btn{
	color: white;
	background-color: #ce3a60;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.instructions{
	font-size: 18px;
	text-align: justify;
	line-height: 32px;
	padding-right: 5px;
}

.instructions-head, .ingredients-head{
	font-size: 25px;
	color: #ce3a60;
	background-color: #020202;
	padding: 5px 15px;
	display: inline-block;
	font-weight: bold;
	border-radius: 8px;
	margin-bottom: 20px;
}

hr{
	border: 0.1px solid #ce3a60;
}

.fa-youtube{
	font-size: 30px;
	margin-right: 10px;
}

.yt-video{
	margin-top: 30px;
	border: 2px dashed #ce3a60;
	padding: 5px 15px;
	display: inline-block;
}

.search-bar-container{
	display: flex;
	justify-content: center;
/*	column-gap: 20px;*/
	align-items: center;
	margin-bottom: 30px;
}

.search-bar{
	font-size: 18px;
	font-family: "Cabin", sans-serif;
	padding: 6px 10px;	
	border: 1px solid #ce3a60;
	border-right: none;
}

.search-bar{
	outline: none;
}

.search-btn{
	border: 1px solid #ce3a60;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #ce3a60;
	color: white;
}

.search-btn i{
	font-size: 18px;
}

.footer{
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	margin-bottom: 0;
	background-color: #b54262;
}

.foot-ans{
	color: white;
}

.left-section-food{
	margin-bottom: 40px;
}

.like-container{
	margin-top: 30px;
	display: flex;
	column-gap: 30px;
}

.like-container div i{
	font-size: 25px;
	margin-right: 10px;
	cursor: pointer;
}

.like, .dislike{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}



@media (max-width: 800px){
	.category-section-container{
		grid-template-columns: 280px 1fr;
	}	

	.ingredients{
		width: 230px;
	}

	.category-block{
		width: 250px;
	}
}

@media (max-width: 650px){

	.category-section-container{
		grid-template-columns: 235px 1fr;
	}

	.category-block{
		width: 200px;
	}

	.ingredients{
		width: 180px;
	}
}

@media (max-width: 600px){
	.category-section-container{
		grid-template-columns: 1fr;
	}

	.left-section-food{
		display: grid;
		grid-template-columns: auto auto;
        justify-content: space-around;	
    }

	.ingredients{
		margin-top: 0;
	}
}

@media (max-width: 480px){
	.left-section-food{
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 auto;
	}

	.ingredients{
		margin-top: 30px;
	}

	.category-block{
		width: 300px;
	}

	.ingredients{
		width: 280px;
	}

	.middle-section-nav div{
		display: none;
	}
}